
html {
    height: 100vh;
}
body {
    margin: 0;
    height: 100%;
}

header {
    padding: 2% 3% 1% 3%;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 3%;

    width: 100%;
    height: 100%;
}
header nav input {
    background-color: transparent;
    border-color: rgba(87, 159, 207, 0.3);
}
.link-active {
    color: rgba(206, 39, 39, 0.863);
}

main {
    padding: 2% 15% 2% 15%;

}
footer {
    padding: 0 4% 1% 4%;
}

header, footer {
    height: 10%;
}

main {
    height: 80%;
}

header, main, footer {
    box-sizing: border-box;
}

.loading-wrapper {
    position: absolute;

    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
}
.loading {
    position: relative;
    display: block;

    left: 50%;
    top: 50%;

    aspect-ratio: 1;
    width: 15%;

    border-top: 1.2em solid blue;
    border-radius: 50%;
    animation: loading-animation 0.5s ease-in infinite;
}
@keyframes loading-animation {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


/* Home page. */
.home {
    width: 100%;
    height: 100%;
}
.home h1 {
    text-align: center;
}


/* About page. */
.about h1 {
    text-align: center;
}

