
html {
    height: 100vh;
}
body {
    margin: 0;
    height: 100%;
}

header {
    padding: 2rem 3rem 1rem 3rem;
}
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    width: 100%;
    height: 100%;
}
header nav input {
    background-color: transparent;
    border-color: rgba(87, 159, 207, 0.3);

    width: 20rem;
    height: 2rem;
}
.link-active {
    color: rgba(206, 39, 39, 0.863);
}

main {
    padding: 1% 15% 2% 15%;
}
footer {
    padding: 0% 4% 1% 4%;

    position: fixed;
    bottom: 0;

    background-color: gray;

    width: 100%;
    height: 2rem;
}

header, main, footer {
    box-sizing: border-box;
}

.loading-wrapper {
    position: absolute;

    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: white;
}
.loading-wrapper-hidden {
    display: none;
}
.loading-wrapper-active {
    display: block;
}

.loading-inner-wrapper {
    width: 100%;
    height: 100%;
}
.loading-inner-wrapper-hidden {
    display: none;
}
.loading-inner-wrapper-active {
    animation: fadeIn 1s ease-in;
}

.loading {
    position: relative;
    display: block;

    left: 50%;
    top: 50%;

    aspect-ratio: 1;
    width: 15%;

    border-top: 1.2em solid blue;
    border-radius: 50%;
    animation: loading-animation 0.5s linear infinite;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes loading-animation {
    0% 
    { 
        transform: translate(-50%, -50%) rotate(0deg); 
    }
    100% 
    { 
        transform: translate(-50%, -50%) rotate(360deg); 
    }
}


/* Home page. */
.home {
    width: 100%;
    height: 100%;
}
.home h1 {
    text-align: center;
}

/* About page. */
.about h1 {
    text-align: center;
}

/* Not found page. */
.not-found h1 {
    text-align: center;
    margin-top: 10%;
}

@media only screen and (min-width: 600px) {
    header nav {
        flex-direction: row;
        justify-content: center;

        gap: 2.5rem;
    }
    header nav input {
        width: 10rem;
    }
}

